# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
*.so

# Virtual environments
venv/
env/
.venv/
.env

# Django
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
media/
staticfiles/

# Distribution / packaging
.eggs/
dist/
build/
*.egg-info/

# Testing
.pytest_cache/
.coverage
htmlcov/
*.cover

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
